{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Articles</h1>
    <ul>
        {% for article in articles %}
            <li>
                <a href="{{ path('article_show', {'id': article.id}) }}">
                    {{ article.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
